<div>
  <table class="table">
    <tbody>
      <tr *ngFor="let grid of pagedGrids">
        <td class="col-md-8">{{ grid.name }}</td>
        <td class="col-md-2">
          <button class="btn btn-primary" (click)="selectGrid(grid)">
            <i class="bi bi-pencil"></i>Edit
          </button>
        </td>
        <td class="col-md-2">
          <button class="btn btn-danger" (click)="deleteGrid(grid)">
            <i class="bi bi-trash"></i>Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [collectionSize]="grids.length"
    [(page)]="currentPage"
    [pageSize]="itemsPerPage"
  ></ngb-pagination>
</div>
